{
  "globals": {
    "it": false,
    "describe": false,
    "before": false,
    "after": false,
    "afterEach": false,
    "beforeEach": false,
  },

  "rules": {
    "react/jsx-uses-react": 1
  }
}
